body {
    background-color: black;
    transition: all 0.2s linear 0s;
    
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: white;
}

.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    transition: all 1s linear 0s;
    align-content: center;
}

.ball1{
    background-color: blue;
}

.ball2 {
    background-color: rgb(251, 127, 255);
}

.ball3 {
    background-color: aquamarine;
}

.ball4{
    background-color: blueviolet;
}

.ball5{
    background-color: brown;
}

.ball6{
    background-color: chartreuse;
}