body {
    background-color: black;

}


h1 {
    color: white;
}

.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    transition: all 1s linear 0s;
}

.ball1{
    background-color: blue;
}

.ball2 {
    background-color: rgb(251, 127, 255);
}

.ball3 {
    background-color: aquamarine;
}