body{
    background-color: black;
    
}

h1{
    color: white;
}

.ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aquamarine;
    text-align: center;
    margin: auto;

    font-size: 22px;
    font-weight: bold;

    transition: all 1s linear 0s;
}