body {
    background-color: black;

}

.round {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(251, 127, 255);
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;

    transition: all 1s linear 0s;
}

h1 {
    color: white;
}

.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aquamarine;
    text-align: center;
    margin: auto;

    font-size: 22px;
    font-weight: bold;

    transition: all 1s linear 0s;
}